<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <%- favicon_tag(theme.favicon) %>
        <link href="https://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
        <%- css('css/style') %>
            <title>
                <%= theme.title %>
            </title>
            <% if (theme.canvas) { %>
                <style>
                    #myCanvas {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                    }
                </style>
                <% } %>

</head>