<main class="main">
    <% if (is_post()||is_page()) { %>
        <%- partial('article') %>
            <% }else if(is_archive()){ %>
                <%- partial('archives') %>
                    <% }else if(page.posts){ %>
                        <%- partial('directory') %>
                            <%}%>
</main>