<div class="statistics">
    <h1 class="statisticsTitle">
        <%= __('nav.STATISTICS') %>
    </h1>
    <div class="statisticsContainer">
        <!-- 文章统计图 -->
        <div class="postStatis">
            <h2 class="canvasTitle">文章统计图</h2>
            <canvas id="postCanvas"></canvas>
        </div>
        <!-- 分类统计图 -->
        <div class="categoryStatis">
            <h2 class="canvasTitle">分类统计图</h2>
            <canvas id="cateCanvas"></canvas>
        </div>
    </div>
</div>